---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Escherize Zone</title>
	</head>
    <body>
    <h1>My Site</h1>
    <h1>About Me</h1>
    <h2>And my blog</h2>
    <p>This is my new site</p>
    <p>🚦Under Construction🚦</p>
</body>
</html>
